/nbandroid/
/bin/
.classpath
local.properties
.project
/builds/
build.xml
/gen/
lint.xml
*bin/
*git/
.gradle
*build/
.settings/
/library-projects
*.iml
*.idea
*.DS_Store
.gradletasknamecache
.navigation/
captures/
*.directory
!.idea/codeStyleSettings.xml
*lint-report.html
